/* General Reset and Styling */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  direction: ltr;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--bg);
}

html::-webkit-scrollbar-thumb {
  background: var(--colorDes);
  border-radius: 0.5rem;
  cursor: grab;
  border: 2px solid var(--bg);
}
html::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}
html::-webkit-scrollbar-thumb:window-inactive {
background-color: red;
border-radius: 0px;
border:none;
}
html::-webkit-scrollbar-track:window-inactive{
  background-color: white;
}

:root{
  --bg : #090b13; 
  --color :white;
  --bodyBG : #121622;
  --colorDes : aqua;
  --LightHF : #090b13;
}

.LightHF{
background-color: var(--LightHF);
}
.light-mode{
  background-color: var(--bg);
}
.dark-mode{
  background-color: var(--bg);
}

@font-face {
  font-family: jura;
  src: url(Jura-VariableFont_wght.ttf);
}


body {
  font-family: jura;
  background-color: var(--bodyBG) ;
  color: var(--color);
  transition: 0.25s color ease,0.25s background ease;
  direction: rtl;
}

a{
  color: var(--color);
}

#nav-bar {
  width: fit-content;
  height: 250px;
  bottom: 0;
  top: 0;
  right: 2%;
  margin: auto;
  position: fixed;
  display: flex;
  z-index: 100;
  justify-content: space-between;
  flex-direction: column;
}

#nav-bar .nav-icons {
  display: flex;
  text-align: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  scale: 1.1;
  color: black;
  border-radius: 35px;
  background-color:rgba(0, 255, 209,0.9);
  backdrop-filter: blur(10px);
  font-size: 18px;
  display: flex;
  padding: 0 17px;
  font-weight: bold;
  box-shadow: 0 0 5px #3b82f6, 0 0 15px #3b82f6, 0 0 25px #3b82f6,
    0 0 100px #3b82f6;
  transition: 0.25s all ease;
  text-transform: capitalize;
  &:hover {
    width: 175px;
  }

  &:hover .nav-icon-head {
    scale: 1;
    opacity: 1;
    transition-delay: 0.25s;
  }
}
.icon-shower{
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ar{
  font-size: 25px;
  padding-bottom: 5px;
}
.nav-icon-head {
  scale: 0;
  opacity: 0;
  margin: auto;
  transition: 0.25s ease all;
}


.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.hero .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  filter: brightness(100%);
}
/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(20deg, var(--colorDes), transparent);
  z-index: 1000;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid var(--bg);
  box-shadow: 5px 5px 20px #111;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.logo-holder {
  display: flex;
}
.navbar img {
  width: 100%;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0 0.75rem;
  font-weight: bold;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
  transition: all 0.4s ease;
}

.nav-link:hover {
  background: linear-gradient(90deg, var(--colorDes), var(--color));
  background-clip: text;
  color: transparent;
  font-weight: bold;
}
.header .icons {
  display: flex;
  gap: 20px;
}
.header .icons i {
  transition: 0.4s all;
  padding: 10px 0;
}
.header .icons i:hover {
  transform: rotate(360deg);
}
.header .icons .facebook:hover {
  color: #1877F2;
}

.header .icons .youtube:hover {
  color: red;
}

.header .icons .snapchat:hover {
  color: yellow;
}

.header .icons .x:hover {
 color: #1DA1F2;
}

.header .icons .instagram:hover {
  color: transparent;
  background: linear-gradient(
    315deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c
  );
  background-clip: text;
}

section,
header,
footer {
  overflow: hidden;
}

/* Hero Section */
.hero {
  height: 95vh;
  /* border-bottom: 2px solid var(--colorDes); */
}

.line{
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 50%;
  right: 0;
  background: var(--colorDes);
}
.hero .hero-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: url('./pcs/DeWatermark.ai_1733942743016.jpg') no-repeat center center/cover ;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-headline {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  max-width: 50%;
  text-shadow: 5px 5px 6px #121622;
}

.hero-subheadline {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  max-width:65%;
  text-shadow: 5px 5px 6px #121622;
}

.hero-cta {
  background: transparent;
  padding: 10px 50px;
  font-weight:bold;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  transition: all 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
}

.hero-cta::after {
  content: "";
  position: absolute;
  z-index: 100;
  border-top: 3px solid var(--colorDes);
  border-left: 3px solid var(--colorDes);
  height: 30px;
  width: 30px;
  left: 0;
  top: 0;
  transition: 0.4s all;
}
.hero-cta::before {
  content: "";
  position: absolute;
  z-index: 1000;
  border-bottom: 3px solid var(--colorDes);
  border-right: 3px solid var(--colorDes);
  height: 30px;
  width: 30px;
  bottom: 0;
  right: 0;
  transition: 0.4s all;
}
.hero-cta:hover {
  color: transparent !important;
  background: linear-gradient(25deg, var(--color) ,var(--colorDes));
  background-clip: text;
}
.hero-cta:hover::before,
.hero-cta:hover::after {
  width: 98%;
  height: 92%;
}

.switchers {
  display: flex;
  gap: 30px;
  font-size: 20px;
  position: absolute;
  bottom: 5%;
}
.switchers div {
  border-bottom: 2px solid var(--colorDes);
  font-weight: bold;
  cursor: pointer;
}
.switchers div:hover{
  opacity:0.75;
}

a {
  text-decoration: none;
}
/* Features Section */
.features {
  display: flex;
  padding: 100px 0;
  background-color: var(--bodyBG);
}
.features .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* #margin {
  margin: auto;
} */
.features .container .feature-intro h2 {
  letter-spacing: 4px;
  font-weight: lighter;
  opacity: 0.75;
}

.features .container h1 {
  position: relative;
  margin-bottom: 10px;
  font-size: 35px;
}
.features .container .feature-card h2 {
  margin: 10px 0;
}

.features .container h1::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100px;
  z-index: 1000;
  border-radius:35px;
  background-color: var(--colorDes);
  right: 0;
  bottom: 0;
}
.features p {
  color: grey;
  font-size: 13px;
}
.features p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.features .button {
  margin-top: 30px;
}
.feature-intro {
  max-width: 300px;
  max-height: 350px;
}
.feature-holder {
  display: flex;
  flex-wrap: wrap;
  max-width: 570px;
  gap: 40px;
}
.features .feature-card {
  padding: 15px;
  width: 265px;
  max-height: 255px;
  transition: 0.4s all ease-out !important ;
  line-height: 1.6;
}
.features .feature-card p {
  line-height: 1.3;
}

.feature-card .icon-frame {
  border: 2px solid var(--colorDes);
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  position: relative;
}
.feature-card .icon-frame i {
  padding: 5px;
  transition: 0.4s all;
}
.features .feature-card:hover .icon-frame,
.statis .feature-card:hover .icon-frame {
  transform: rotate(45deg);
}

.features .feature-card:hover i,
.statis .feature-card:hover i {
  transform: rotate(315deg);
}
.feature-card:hover .icon-frame i {
  color: var(--colorDes);
}
.feature-holder .feature-card:hover {
  background: #090b13;
  border-radius: 0.5rem;
  color: white;
}
.feature-card:hover .icon-frame {
  background-color: var(--bodyBG);
}

/* gallary Section */

.gallary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 600px;
}

.gallary .g1,
.g2,
.g3 {
  width: calc(33.33%);
  height: 100%;
}

.gallary .g1 {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.gallary .g1 .g1_img1,
.g1_img3,
.g1_sec1,
.g1_sec2 {
  width: 100%;
  max-height: calc(50% - 2.7px);
}

.g1_img1 {
  background-image: url("./pcs/pexels-zeleboba-28920287\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.g1_img3 {
  background-image: url("./pcs/pexels-imadclicks-11772523\ \(1\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.g1_sec1,
.g1_sec2 {
  display: flex;
  gap: 5px;
}

.g1_sec1 div,
.g1_sec2 div {
  width: calc(50%);
  height: 100%;
}

.g1_sec1 .sec1_img1 {
  background-image: url("./pcs/pexels-oandremoura-2402705\ \(2\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.g1_sec1 .sec1_img2 {
  background-image: url('./pcs/pexels-rubaitulazad-16149966\ \(1\).jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.g1_sec2 .sec1_img1 {
  background-image: url("./pcs/pexels-xtrovarts-16812192\ \(1\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.g1_sec2 .sec1_img2 {
  background-image: url("./pcs/pexels-zeleboba-22604142\ \(1\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.g2 .g2_img2 {
  width: 100%;
  height: 100%;
  background-image: url("./pcs/pexels-efrem-efre-2786187-21836885\ \(1\).jpg");
  background-repeat: no-repeat;
  background-position: calc(40%);
  background-size: cover;
}

.gallary .g1_img1,
.sec1_img1,
.sec1_img2,
.g2_img2,
.g1_img3 {
  transition: 0.4s all ease !important;
  position: relative;
  filter: brightness(90%);
}

.gallary div {
  overflow: hidden !important;
}

.gallary .g1 .sec1_img1:hover,
.gallary .g1 .sec1_img2:hover,
.gallary .g1_img1:hover,
.gallary .g2_img2:hover,
.g1_img3:hover {
  filter: brightness(120%);
}

.hover_div {
  position: absolute;
  width: 100%;
  height: 45%;
  background-color: rgba(18, 22, 34, 0.75);
  top: 100%;
  transition: 0.4s all;
  z-index: -10000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15%;
  text-align: center;
  backdrop-filter: blur(5px);
}

.hover_div p {
  color: whitesmoke;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size:15px;
  text-overflow: ellipsis;
}

.g1_img1:hover .hover_div {
  top: 55%;
  z-index: 10000;
}
.hover_div .icons {
  display: flex;
gap:20px;
}

.g1_img3:hover .hover_div {
  top: 55%;
  z-index: 10000;
}

.g2_img2 .hover_div {
  height: 30%;
}
.g2_img2:hover .hover_div {
  top: 70%;
  z-index: 10000;
}

.hover_div .icons i {
  padding: 10px 0;
  background: linear-gradient(45deg, var(--colorDes), white);
  background-clip: text;
  color: transparent;
}
/* =====================STATISTICS======================= */
.statis {
  padding: 100px 0;
  background-color: var(--bodyBG);
}

.statis .container {
  display: flex;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}
.statis .container span {
  font-size: 55px;
}

.statis .container .feature-card {
  background-color: #090b13;
  color: white;
  rotate: 45deg;
  height: 260px;
  width: 260px;
  position: relative;
  overflow: hidden;
  padding: 15px;
  line-height: 2.5;
  display: flex;
  box-shadow: 5px 5px 20px #121622;
  justify-content: center;
}
.statis .container .feature-card .feature-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-45deg);
  font-weight:bold;
}
.margin-top {
  margin-top: 23%;
}

.statis .container .feature-card:before {
  content: "";
  position: absolute;
  z-index: 1000;
  border-bottom: 2px solid var(--colorDes);
  border-right: 2px solid var(--colorDes);
  height: 30px;
  width: 30px;
  bottom: 0;
  right: 0;
  transition: 0.4s all;
  transform: rotate(0deg);
}

.statis .container .feature-card::after {
  content: "";
  position: absolute;
  z-index: 1000;
  border-top: 2px solid var(--colorDes);
  border-left: 2px solid var(--colorDes);
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  transition: 0.4s all;
  transform: rotate(0deg);
}
.statis .container .feature-card .icon-frame {
  border: 1px solid transparent;
  overflow: hidden;
  width: 52.5px;
}
.statis .container .feature-card .icon-frame::after {
  content: "";
  position: absolute;
  z-index: 1000;
  border-top: 2px solid var(--colorDes);
  border-left: 2px solid var(--colorDes);
  height: 15px;
  width: 15px;
  top: 0;
  left: 0;
  transition: 0.4s all;
}
.statis .container .feature-card .icon-frame::before {
  content: "";
  position: absolute;
  z-index: 1000;
  border-top: 2px solid var(--colorDes);
  border-left: 2px solid var(--colorDes);
  height: 15px;
  width: 15px;
  bottom: 0;
  right: 0;
  transition: 0.4s all;
  transform: rotate(180deg);
}
.statis .container .feature-card:hover .icon-frame::before {
  width: 100%;
  height: 100%;
}

.statis .container .feature-card:hover .icon-frame::after {
  width: 100%;
  height: 100%;
}

.statis .container .feature-card:hover::after,
.statis .container .feature-card:hover::before {
  width: 100%;
  height: 100%;
}

/* =============================PORTFOLIO========================= */
.portfolio {
  height: 750px;
  position: relative;
}

.myHomeSwiper {
  height: 100%;
}
.swiper-slide{
  animation: slide 0.5s linear;
}

.swiper-wrapper{
  transform: none;
}

.slide_bg {
  background: url("./pcs/DeWatermark.ai_1733942704955.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide_overlay {
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
}

.portfolio .container {
  overflow: hidden;
}

.myHomeSwiper {
  position: relative;
}

.swiper-wrapper {
  height: 100% !important;
}

.swiper-button-next,
.swiper-button-prev,
.prev,
.next {
  padding: 30px;
  background-color: rgba(42, 48, 70, 0.466);
  color: white !important;
  border-radius: 0.5rem;
  transform: scale(0.85);
}
.team {
  display: flex;
  position: relative;
}
.team .click_hold {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 1000;
  text-align: center;
  border-radius: 50%;
  background: #090b13;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: help;
  left: 1%;
  top: 92%;
  transition: 0.4s all ease;
}
.team .click_hold i {
  color: var(--colorDes);
}

.team .hidden1,
.team .hidden2{
  text-transform: capitalize;
  position: absolute;
  padding: 10px;
  border-radius: 0.5rem;
  background: var(--bodyBG);
  color: var(--colorDes);
  z-index: 1000;
  top: -100%;
  left: 120%;
  transition: 0.4s all ease;
  font-size: 12px;
  width: 200px;
  display: none;
}
.click_hold:hover .hidden1 {
  display: block;
  animation: fadeIn 0.5s ease-in-out;
}

.team .slide-triangle1,
.team .slide-triangle2 {
  width: calc(100%);
  height: 100%;
  clip-path: polygon(0 0, 0 100%, 0 100%, 100% 100%);
  transition: 0.4s all ease;
  overflow: hidden;
}

.slide-triangle1 {
  position: absolute;
  top: 0;
}
.slide-triangle2 {
  transform: rotate(180deg);
  position: absolute;
  top: 0;
  z-index: -1;
}
.slide-triangle2 img {
  width: 100%;
  height: 100%;
  object-position: center;
  cursor: all-scroll;
  rotate: 180deg;
  object-fit: cover;
/*   animation: fadeleft 0.5s  linear; */
}

.slide-triangle1 img {
  width: 100%;
  height: 100%;
  cursor: all-scroll;
  object-position: center;
  object-fit: cover;
/*     animation: faderight 0.5s  linear; */
}
.team .slide-triangle2:active {
  clip-path: polygon(100% 100%, -100% 100%, 100% -100%, 100% 0);
  z-index: 100;
}
.team .slide-triangle1:active {
  clip-path: polygon(100% 100%, -100% 100%, 100% -100%, 100% 0);
  z-index: 100;
}

.log_in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.log_in p {
  line-height: 1.1;
  font-size: 18px;
  color: gray;
}
.log_in h2 {
  font-weight: lighter;
  text-transform: capitalize;
  font-size: 25px;
}
.log_in h1 {
  font-size: 40px;
}
.log_in .feature-intro {
  box-shadow: 2px 2px 2px 2px #090b13;
  background: linear-gradient(45deg, #121622, transparent);
  min-width: 75%;
  min-height: 75%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
  text-align: center;
  transition: 0.4s all ease;
}
.log_in .feature-intro:hover {
  transform: scale(1.05) !important;
}
.log_in .feature-intro h1:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 70%;
  z-index: 1000;
  background-color: var(--colorDes);
  left: 15%;
  bottom: 0;
}
.log_in .feature-intro h1 {
  position: relative;
}
.login-box1 {
  background: linear-gradient(45deg, #090b13, transparent);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
  text-align: center;
  transition: all 0.4s ease-in-out;
  height: 75%;
  width: 65%;
  color: white;
  direction: ltr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  margin: auto;
  box-shadow: 2px 2px 2px 2px #121622;
}
.login-box1 .hero-cta{
  color: white;
}

.login-box1:hover {
  transform: scale(1.05) !important;
}

.login-box1 h2 {
  font-size: 2em;
  font-weight:bold;
  animation: fadeIn 2s ease-in-out;
}

.textbox {
  margin: 15px 0;
  position: relative;
}

.textbox input {
  width: 90%;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 1rem;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  transition: background 0.3s ease, border 0.3s ease;
}

.textbox input:focus {
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid var(--colorDes);
}

.btn {
  background: var(--colorDes);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background: var(--bodyBG);
  transform: scale(110%);
}

.signup-link {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.signup-link a {
  color: var(--colorDes);
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s all ease;
}

.signup-link a:hover {
  text-decoration: underline;
}
.slide-gif {
background: linear-gradient(180deg,var(--colorDes),var(--bg));
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.slide-gif .gif {
  background-image: url("./tenor.gif");
  width: 400px;
  height: 350px;
  box-shadow: 5px 5px 20px #111;
  position: relative;
  transition: 0.4s all ease;
  border-radius: 50%;
  background-position: bottom;
  background-size: cover;
  overflow: hidden;
}

.slide-gif .gif::after {
  content: "";
  position: absolute;
  width: 98%;
  height: 98%;
  z-index: 1;
  border-top: 5px solid var(--colorDes);
  border-left: 5px solid var(--colorDes);
  transition: 0.4s all ease;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.slide-gif .gif::before {
  content: "";
  position: absolute;
  z-index: 1;
  border-bottom: 5px solid var(--colorDes);
  border-right: 5px solid var(--colorDes);
  transition: 0.4s all ease;
  bottom: 0;
  right: 0;
  width: 98%;
  height: 98%;
  border-radius: 50%;
}
.slide-gif .gif:hover {
  border-radius: 0;
  overflow: visible;
}
.slide-gif .gif:hover::after {
  width: 100px;
  height: 100px;
  border-radius: 0;
  top: -5px;
  left:-5px;
  border-top: 10px solid var(--colorDes);
  border-left: 10px solid var(--colorDes);
}
.slide-gif .gif:hover::before {
  width: 100px;
  height: 100px;
  bottom: -5px;
  right:-5px;
  border-radius: 0;
  border-bottom: 10px solid var(--colorDes);
  border-right: 10px solid var(--colorDes);
}

.slide-gif h1 {
  font-size: 40px;
  max-width: 65%;
  margin: auto;
}
.slide-gif p {
  color: grey;
  font-size: 15px;
  max-width: 50%;
  margin: auto;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Footer */
footer {
  background-size: cover;
  position: relative;
  background-color: var(--LightHF);
  padding: 100px 0;
}

footer a {
  font-weight: lighter;
}

footer .container {
  filter: brightness(120%);
}

footer .container .contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
}

footer .container .links {
  line-height: 2.6;
}

.arrow-flip{
  rotate: 180deg;
}

footer .container .links a {
  transition: all 0.4s ease;
  padding-right: 2px;
  padding-left: 4px;
  text-decoration: none;
}

footer .container .links i {
  color: var(--colorDes);
}

footer .container .links a:hover {
  padding-right: 6px;
  padding-left: 0px;
  color: var(--colorDes);
}

footer .container .contents .icons {
  display: flex;
  gap: 30px;
  margin: 20px;
  justify-content: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent,#005) ;
}

footer .container .contents .icons i {
  color: var(--colorDes);
  transition: 0.4s;
}

footer .container .contents .icons a:hover i {
  transform: translateY(-10px);
}

footer .blackline {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  border-top: 1px solid var(--colorDes);
  align-items: center;
  bottom: 0;
}

footer .blackline span {
  color: var(--colorDes);
}

footer .blackline .bl_text {
  padding: 15px;
  display: flex;
  gap: 5px;
}

footer .bl_date {
  color: var(--colorDes);
}
footer .container .sublinks {
  line-height: 2;
}

footer .container .contents .subscribe {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--colorDes);
  text-align: center;
}

footer .container .contents .subscribe p {
  font-size: 14px;
  max-width: 250px;
  line-height: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin:auto;
}

footer .container .contents .subscribe label {
  font-weight: 600;
}

footer .container .contents .subscribe .input {
  position: relative;
  display: flex;
  justify-content: center;
  direction: ltr;
}
footer .container .contents .subscribe .input input::placeholder {
  transition: all 0.4s;
}
footer .container .contents .subscribe .input input:focus::placeholder {
  font-size: 80%;
  transform: translateY(-100%);
}

footer .container .contents .subscribe .input .email {
  padding: 0px 15px;
  background: rgba(17, 17, 17, 0.842);
  border: 1px solid #363636;
  line-height: 45px;
  width: 100%;
  border-right:none;
  color: white;
}
footer .container .contents .subscribe .input .email:focus {
  outline: none;
}
footer .container .contents .subscribe .input .submit {
  cursor: pointer;
  background-color: var(--colorDes);
  position: relative;
  padding: 0px 10px;
  letter-spacing: 1px;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  border: 1px #363636 solid;
  border-left:none;
  color: white;
  text-transform:uppercase;
}

footer .container .contents .subscribe .input i {
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 15px;
}

/* =================NAV BUTTON================ */

.go-top-btn {
  position: fixed;
  bottom: 35px;
  right: 25px;
  cursor: pointer;
  color: var(--colorDes);
  transition: all 0.4s;
  z-index: 1;
  transform: scale(1.4);
  display: none;
}

.btn-anim {
  animation: btn 0.5s linear;
}

/* =============KEYFRAMES=============== */
@keyframes btn {
  0% {
    scale: 0;
    bottom: -100px;
  }

  100% {
    opacity: 1;
    bottom: 35px;
  }
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

@keyframes faderight {
  from {
    opacity: -1;
    transform: translateY(600px);
  }
  
}

@keyframes fadeleft {
  from {
    opacity: -1;
    transform: translateY(-600px);
  }
  
}
@keyframes gifscale {
  50% {
    transform: scale(1);
    filter: contrast(120%);
  }
  0% {
    transform: scale(0.5);
    filter: contrast(88%);
  }
}

@keyframes animateBg {
  50% {
    transform: scale(1);
    filter: contrast(120%);
  }
  0% {
    transform: scale(1.5);
    filter: contrast(88%);
  }
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}
/*
@keyframes slide {
  0%{
left: 33.33%;
opacity: 0;
  }
  100%{
    opacity: 1;
    left: 0;
  }
  
} */
@keyframes drop {
  0%{
transform: translateY(-30px);
opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
  
}
#first,#second{
  display: none;
  animation: 0.5s drop linear;
}
.main{
  animation: 0.5s drop linear;
}


/* =====================MEDIA CONTAINER==================== */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* =====================MEDIA==================== */
@media (max-width: 1199px) and (min-width: 916px) {
  .statis .last_counter {
    margin-top: -5%;
  }
}

@media (max-width: 992px) {
  .nav-link {
    padding: 0px !important;
  }

  .features .container {
    flex-direction: column;
    gap: 50px;
  }
  .feature-holder {
    max-width: 100%;
    justify-content: space-between;
  }
/*   .hover_div div{
    transform: scale(0.9);
  } */
  .margin-top {
    margin-top: 28% !important;
  }
  .statis .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .nav-list.show {
    display: flex;
  }
  .hover_div p{
    max-width:75%;
    margin:auto;
  }

  .nav-item {
    margin: 0;
  }

  .gallary {
    flex-direction: column;
    height:1650px !important;
  }
  .g2 {
    max-height: 20%;
  }
  .g2 .hover_div {
    height: 35%;
  }
  .g2:hover .hover_div {
    top: 65.5%;
  }
  .gallary .g1,
  .g2,
  .g3 {
    width: 100% !important;
  }
  .g1_img1,
  .g1_img3 {
    background-position: 50% !important;
  }
  .gallary .g1 .g1_img1,
  .g1_img3,
  .g1_sec1,
  .g1_sec2 {
    max-height: 100% !important;
  }
  .g1_sec1 div,
  .g1_sec2 div {
    width: 100% !important;
  }
  .statis .container {
    width: 100% !important;
  }
  .login-box1 {
    width: 90%;
    height:65%;
  }
 
}

@media (max-width: 650px) {
 .team .slide-triangle2:hover {
  clip-path: polygon(100% 100%, -100% 100%, 100% -100%, 100% 0);
  z-index: 100;
}
.line{
  width: 100%;
}
.hero-overlay{
  left: 0;
  width: 100% !important;
  margin: auto;
  filter: brightness(80%);
}
.hero{
  color: white;
}
.hero .hero-cta{
  color: white;
}
.team .slide-triangle1:hover {
  clip-path: polygon(100% 100%, -100% 100%, 100% -100%, 100% 0);
  z-index: 100;
}
 .click_hold:hover .hidden2 {
    display: block;
    padding: 20px 0;
    animation: fadeIn 0.5s ease-in-out;
  }
  .click_hold:hover .hidden1 {
   display: none; 
  }  
  .hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero-subheadline{
    max-width: 100% !important;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    text-align: center;
  }

  .hero-headline {
    max-width: 100% !important;
  }
  .feature-intro {
    text-align: center;
  }
  .features .container h1:after {
    left:0;
    right:0;
    margin:auto;
  }

  .feature-holder {
    justify-content: space-around;
    text-align: center;
  }
  .feature-holder .feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 235px;
  }
  .statis .container {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .statis .container .feature-card {
    width: 60% !important;
    min-width:265px;
    height: 275px !important;
    rotate: 0deg;
    border-top-right-radius:50px;
    border-bottom-left-radius:50px;
    transition: 0.8s , 0.4s border-radius;
  }
  .statis .container .feature-card .icon-frame{
    width:60px !important;
  }
  .statis .container .feature-card:hover{
    border-radius:initial;
  }
  .statis .container .feature-card .feature-card-content {
    transform: rotate(0deg) !important;
  }
  .margin-top {
    margin-top: 0 !important;
  }
  footer .container .contents {
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  footer .blackline {
    text-align: center;
  }
  footer .blackline .bl_text {
    display: block;
  }
  .gif{
    scale:0.85;
  }
  .portfolio{
  height:750px !important;
} 
  .swiper-button-next, .swiper-button-prev{
  display:none !important;
}
  .hero{
    height:750px !important;
  }
}

@media (max-width: 450px) {
  .navbar {
    flex-direction: column;
   padding:0.25rem 1rem !important;
  }
.feature-holder .feature-card{
  width:265px;
}
  .click_hold {
transform: scale(0.7);
  }
  .slide-gif h1 {
    max-width: 100%;
  }
  .slide-gif p {
    max-width: 100%;
  }
  .gif-intro {
    transform: scale(0.7);
  }
  .portfolio{
  height:555px !important;
} 
    .hero{
    height:555px !important;
  }
  .gif{
     width:350px !important;
    min-height:300px !important;
    height:300px !important;
  }
.logo-holder{
    transform:scale(0.85);
  }
}

@media (max-height: 768px) {
  .hero{
    height:750px !important;
  }
}
